/*general*/
$font-family: "Trebuchet MS";
$backColor:#f3f8ff;

/*nav*/
$navLinkbackgroundcolor: #49108b;
$width1: 561px;
$height1: 80px;
$border-radius1: 3px;

/*title*/
$font-size2: 50px;
$line-height2: 53px;
$color2: #49108b;
$font-weight2: bold;


$widthP: 1208px;
$heightP: 182px;
$font-sizeP: 15px;
$line-heightP: 17px;
$colorP: #000000;
$font-weightP: bold;


$widthBtn: 135px;
$heightBtn: 51px;
$border-radiusBtn: 17px;
$background-colorBtn: #49108b;
$font-sizeBtn: 20px;
$colorBtn: #ffffff;
$font-weightBtn: bold;
$font-familyBtn: "Trebuchet MS";


$width: 1082px;
$height: 812px;
$background-color: #7e30e1;

$font-sizeS2T: 50px;
$colorS2T: #fad540;
$font-weightS2T: bold;
$font-familyS2T: "Trebuchet MS";


$font-sizePPP: 15px;
$colorPPP: #ffffff;
$font-weightPPP: bold;